* {
  margin: 0;
  padding: 0;
}
pre {
  overflow: auto;
  padding: 15px;
  background-color: #292c34;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
}
a {
  color: #61dafb;
  text-decoration: none;
  font-size: 16px;
}
a.entrance {
  padding: 0 5px;
  font-weight: bold;
}
input, button, .button {
  font-size: 16px !important;
}
button, .button {
  cursor: pointer;
}
.row {
  margin: 10px 0;
}
.text-center {
  text-align: center;
}
.am-flexbox .am-flexbox-item {
  margin: 0;
}
.am-icon-lg {
  width: 30px;
  height: 30px;
}
.am-modal-button {
  font-size: 16px !important;
}
.img-responsive {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.app-container {
  position: fixed;
  width: 100%;
  background-color: #f3f6f9;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.navbar-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: #21242b;
}
.navbar-items {
  cursor: pointer;
}
.content-container {
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
}
.intro-container {
  min-height: calc(100vh - 44px);
  background-color: #292c34;
}
.container {
  padding: 15px;
  background-color: #fff;
}
.text-topic {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 0;
}
.text-header {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 5px;
}
.text-span {
  font-size: 14px;
  color: #868e96;
  font-weight: normal;
}
.getstart-container {
  padding: 15px;
  background-color: #292c34;
}
.logo-container {
  width: 20%;
}
.text-app-name {
  color: #61dafb;
}
.text-app-desc {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 2px;
}
.form-login {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 25%;
}
.form-control {
  overflow: hidden;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 12px;
}
.button {
  outline: none;
}
.button::before {
  border: 0 !important;
}
.button-primary {
  color: #fff;
  background-color: #61dafb;
}
.button-register {
  color: #fff;
  border: 1px solid #fff !important;
  background-color: transparent;
}
.button-active {
  opacity: 0.75;
}
.button.am-button-disabled {
  color: #fff;
}
.modal-loading {
  color: #000;
}
.loading-icon {
  padding: 0 15px;
}
.error-label {
  display: none;
  color: red;
  margin-top: 5px;
  font-size: 12px;
}
.error-msg {
  color: red;
  margin-top: 5px;
  display: block;
}
.has-error .error-label {
  display: block;
}
.has-error .form-control {
  border: 1px solid red;
}
.hidden-xs {
  display: block;
}
.drawer {
  position: fixed;
  width: 25%;
  left: -26%;
  height: calc(100vh - 45px);
  top: 45px;
  bottom: 0;
  cursor: default;
  z-index: 9999;
  overflow-y: auto;
}
.drawer-container {
  position: absolute;
  left: 0;
  top: 0;
  /*width: 100%;*/
  height: 100%;
  background-color: #21242b;
}
.drawer {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.drawer.open {
  display: block;
}
.drawer.open{
  left: 0;
}
.menu {
  display: block;
  float: left;
  min-width: 15vw;
  width: 100%;
  list-style: none;
}
.menu-items {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
}
.menu-items.active,
.menu-items:hover {
  color: #61dafb;
  background-color: #383838;
}
.img-avatar {
  border-radius: 50%;
  overflow: hidden;
}
.app-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}
.error-header {
  font-size: 10em;
  font-weight: bold;
}
.error-text {
  font-size: 1.75em;
}

@media (max-width: 768px) and (min-width: 600px) {
  .logo-container {
    width: 35%;
  }
  .form-login {
    width: 50%;
  }
}

@media (max-width: 599px) and (min-width: 0px) {
  .error-header {
    font-size: 5em;
  }
  .error-text {
    font-size: 1em;
  }
  .logo-container {
    width: 50%;
  }
  .hidden-xs {
    display: none;
  }
  .form-login {
    width: 75%;
  }
  .text-header {
    font-size: 16px;
  }
  .text-app-desc {
    font-size: 1.1em;
  }
  .error-label {
    font-size: 11px;
  }
  .drawer {
    left: -51%;
    width: 50%;
  }
  .menu {
    min-width: 50vw;
  }
}
